In [53]:
def fluxo_calor_conducao(q_cond, k, dT_dx):
  if q_cond == 0:
    # Descobrir calor
    q_cond = -k*dT_dx
    return q_cond
  elif k == 0:
    # Descobrir condutividade
    k = -q_cond/dT_dx
    return k
  elif dT_dx == 0:
    # Descobrir derivada da temperatura
    dT_dx = -q_cond/k
    return dT_dx

In [54]:
import pandas as pd
import numpy as np

#df = pd.DataFrame(columns=['q_cond', 'k', 'dT_dx'], dtype=np.int8)
A = np.array([[0,0,0]])
for j in range(1,5):
  for i in range(1,5):
    x = fluxo_calor_conducao(0, i, j)
    A = np.append(A, [[x, i, j]], axis=0)
A

array([[  0,   0,   0],
       [ -1,   1,   1],
       [ -2,   2,   1],
       [ -3,   3,   1],
       [ -4,   4,   1],
       [ -2,   1,   2],
       [ -4,   2,   2],
       [ -6,   3,   2],
       [ -8,   4,   2],
       [ -3,   1,   3],
       [ -6,   2,   3],
       [ -9,   3,   3],
       [-12,   4,   3],
       [ -4,   1,   4],
       [ -8,   2,   4],
       [-12,   3,   4],
       [-16,   4,   4]])

In [55]:
df = pd.DataFrame(A, columns=['q_cond', 'k', 'dT_dx'])
df

    q_cond  k  dT_dx
0        0  0      0
1       -1  1      1
2       -2  2      1
3       -3  3      1
4       -4  4      1
5       -2  1      2
6       -4  2      2
7       -6  3      2
8       -8  4      2
9       -3  1      3
10      -6  2      3
11      -9  3      3
12     -12  4      3
13      -4  1      4
14      -8  2      4
15     -12  3      4
16     -16  4      4